<div class="container pt-2">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="modalOpen()">Create new fridge</button>
    
    <div class="alert alert-success" role="alert" id="add-success-alert">Fridge successfully created!</div>
    
    <table class="table table-hover">
        <thead>
            <th>Manufacturer</th>
            <th>Owner Name</th>
            <th>Fridge Model</th>
            <th>Production Year</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let fridge of listFridges$|async">
                <td>{{fridge.manufacturer}}</td>
                <td>{{fridge.ownerName}}</td>
                <td>{{fridgeModelNameMap.get(fridge.modelId)}}</td>
                <td>{{fridgeModelProductionYearMap.get(fridge.modelId)}}</td>
                <td>
                    <a class="btn btn-info button-container" [routerLink]="['/fridges/view', fridge.id]">View</a>
                    <a class="btn btn-primary button-container" [routerLink]="['/fridges/edit', fridge.id]">Edit</a>
                    <a class="btn btn-danger button-container" (click)="deleteFridge(fridge.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal for create a new fridge-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalClose()" id="add-fridge-modal-close"></button>
            </div>
            <div class="modal-body">
               <app-add-fridge *ngIf="activateModalComponent"></app-add-fridge>
            </div>
        </div>
    </div>
</div>