<div class="container pt-2">
    <h1 *ngIf="countFridges">Displaying {{ countFridges.length }} fridges</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create new fridge</button>
    <table class="table table-hover">
        <thead>
            <th>Manufacturer</th>
            <th>Owner Name</th>
            <th>Fridge Model</th>
            <th>Production Year</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let fridge of listFridges$|async">
                <td>{{fridge.manufacturer}}</td>
                <td>{{fridge.ownerName}}</td>
                <td>{{fridgeModelNameMap.get(fridge.modelId)}}</td>
                <td>{{fridgeModelProductionYearMap.get(fridge.modelId)}}</td>
                <td>
                    <a class="btn btn-info button-container" [routerLink]="['/fridges/view', fridge.id]">View</a>
                    <a class="btn btn-primary button-container" [routerLink]="['/fridges/edit', fridge.id]">Edit</a>
                    <a class="btn btn-danger button-container" [routerLink]="['/fridges/delete', fridge.id]">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal for create a new fridge-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Create new fridge</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createFridgeForm">
                    <div class="container">
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="manufacturer">Manufacturer:</label>
                            <input type="text" class="form-control" placeholder="Enter manufacurer" formControlName="manufacturer">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="ownerName">Name:</label>
                            <input type="text" class="form-control" placeholder="Enter your name" formControlName="ownerName">
                        </div>
                        <div class="form-group">
                            <label for="model" class="form-label mt-4">Choose model:</label>
                            <select class="form-select" name="modelId" formControlName="modelId">
                                <option *ngFor="let model of listModel$|async" [value]="model.id">{{model.modelName}}</option>
                            </select>
                        </div>
                        <div *ngIf="activateModalComponent">
                            <a class="btn btn-success add-button" (click)="createFridge()">Create fridge</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>