.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.social {
    border-radius: 50px;
    width: 45px;
    height: 45px;
    border: none;
}

.login-contetnt {
    margin-top: 10vh;
    margin-bottom: 15vh;
}