<img class="image" src={{imgPath}}>
<div class="container">
    <h2>
        <time class="date">{{date   | date: "HH:mm:ss"}}</time><br>
        <time class="month">{{month | date: "EEEE, dd MMMM"}}</time><br>
    </h2>
    <div class="greeting">
      <span class="greeting-text">{{currentGreeting}}</span> 
    </div>
    <div class="quote-cont quote-title">
        <h3>Information</h3>
        <hr class="hr">
        <p>Website especially prepared for the <a class="innowiseGroupLink" href="https://innowise-group.com/">Innowise Group</a> by <a class="myLink" href="https://github.com/bArtOzzzz">Spectre</a></p>
    </div>
</div>