<form>
    <h1>Create new fridge page!</h1>
    <div class="container">
        <div class="form-group">
            <label class="col-form-label mt-4" for="manufacturer">Manufacturer:</label>
            <input type="text" class="form-control" placeholder="Enter manufacurer">
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="ownerName">Name:</label>
            <input type="text" class="form-control" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="model" class="form-label mt-4">Choose model:</label>
            <select class="form-select" name="modelId">
                <option *ngFor="let model of modelList$|async" [value]="model.id">{{model.modelName}}</option>
            </select>
        </div>
        <div>
            <a class="btn btn-success add-button" (click)="createFridge()">Create fridge</a>
        </div>
    </div>
</form>