.header {  
    z-index: 100;   
}

.add-shadow {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
                0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
                0 1px 4px rgba(0, 0, 0, 0.3),
                0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.add-shadow:before,
.add-shadow:after {
    content: "";
    z-index: -2;
}

.login {
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.login:hover {
    color: rgb(251, 105, 0);
}