<div class="container pt-3">
    <div class="header-title">
        <h2 class="mb-4" *ngIf="fridgeId">Display {{listProducts.length}} products</h2>
        <button type="button" class="btn btn-success mb-4" data-bs-toggle="modal" data-bs-target="#createProduct" (click)="modalCreateOpen()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>
            ADD PRODUCT
        </button>
    </div>
    <div class="row row-cols-3">
        <div class="col mb-4" *ngFor="let product of listProducts$|async">
            <div class="card" style="width: 18rem;">
                <img [src]="product.productImage" height="150" class="card-img-top" alt="Not Found">
                <div class="card-body">
                    <h5 class="card-title">{{product.productName}}</h5>
                    <p class="card-text">Description.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">In stock: {{product.defaultQuantity}}</li>
                </ul>
                <div class="card-body">
                    <a class="card-link" data-bs-toggle="modal" data-bs-target="#updateProduct" (click)="modalUpdateOpen(product)">Edit</a>
                    <a class="card-link" (click)="deleteProduct(product)">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="alert-container">
        <div class="alert alert-success" role="alert" id="create-success-alert">Product successfully created!</div>
        <div class="alert alert-success" role="alert" id="update-success-alert">Product successfully updated!</div>
        <div class="alert alert-success" role="alert" id="delete-success-alert">Product successfully deleted!</div>
    </div>
</div>


<!-- Modal for add new product-->
<div class="modal fade" id="createProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create new product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalClose()" id="create-product-modal-close"></button>
            </div>
            <div class="modal-body">
                <app-add-product></app-add-product>
            </div>
        </div>
    </div>
</div>

<!-- Modal for update product-->
<div class="modal fade" id="updateProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Update product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalClose()" id="update-product-modal-close"></button>
            </div>
            <div class="modal-body">
                <app-edit-product [product]="product" *ngIf="activateModalComponent"></app-edit-product>
            </div>
        </div>
    </div>
</div>